.projects {
  min-height: 100vh;
  background-color: var(--color-bg);
  position: relative;
  z-index: 10;
  padding-bottom: 80px;
  padding: 0 40px;
  border-top: 1px solid #dfdfdf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 40px;

  .subtitle {
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #555;
  }

  .textBlock {
    max-width: 500px;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 50px;
    border-left: 1px solid #dfdfdf;

    h2 {
      font-size: 32px;
      font-weight: 700;
      padding-top: 20px;
      margin-bottom: 10px;
      color: var(--color-primary);
      letter-spacing: 3px;
    }

    p {
      color: #555;
      line-height: 1.4;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  flex-direction: row;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    flex-direction: column; // на мобильных картинка сверху
  }

  .cardImage {
    flex: 1;
    height: 400px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .cardContent {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cardTitle {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px;
      color: var(--color-primary);
    }

    .cardSubtitle {
      font-size: 16px;
      color: #555;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .cardButton {
      align-self: flex-start;
      padding: 10px 20px;
      background-color: var(--color-primary);
      color: #fff;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 500;
      transition: background 0.2s;

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}



/* --- Адаптив --- */

/* 2 карточки в ряд */
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Мобильная версия: скролл карточек + текст сверху */
@media (max-width: 764px) {
  .header {
    flex-direction: column-reverse; /* текст над проектами */
    align-items: flex-start;
  }

  .cards {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;

    .card {
      width: 300px;
      flex-shrink: 0;
      scroll-snap-align: start;
      height: 300px;
    }
  }

  .header {
    .textBlock {
    max-width: 500px;
    flex: 0 0 50%;
    padding-left: 50px;
    border-left: 1px solid #dfdfdf;
  }
  }
}
